body {
    text-align: center;
    width: 100%;
    padding: 0%;
}
table{
   
    background-color: #fff;
    width: 60%;
    margin : auto;
}
td{
    font-weight: bold;
    background-color: #fff;
    border: 1px solid rgba(10, 10, 10, 0.884);
    border-collapse: collapse;
    border-radius: 3px;
    padding : 5px;
}
th{
    font-weight: bold;
    background-color: #fff;
    border: 1px solid rgba(10, 10, 10, 0.884);
    border-collapse: collapse;
    border-radius: 3px;
    padding : 5px;
}
.link{
    display: inline-block;
    padding : 30px;
    font-size: 20px;
}
.cart{
    position: absolute;
    right:80px;
    top:30px;
    font-size: 20px;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: rebeccapurple;
    position: absolute;
    right: 30px;
    top:20px;
  }